<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset ('node_modules/bootstrap/dist/css/bootstrap.css')}}">
    <title>document</title>
</head>
<body>

{% for message in app.session.flashbag.get('info') %}
   <div class="alert alert-info">
      {{ message }}
      </div>

{% endfor %}

{% for message in app.session.flashbag.get('success') %}
   <div class="alert alert-success">
      {{ message }}
      </div>

{% endfor %}

{% for message in app.session.flashbag.get('error') %}
   <div class="alert alert-danger">
      {{ message }}
      </div>

{% endfor %}

<h1>Liste des todos: </h1>

<ol class="list-group"></ol>

     {% for name,content in app.session.get ('todos') %}
        <li class="list-group-item">
            {{ name}} : {{ content}}
        </li>
         {% endfor %}

    
</body>
</html>
